# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IntelliJ IDEA
/.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
bin/

# Maven
/target/
/dependency-reduced-pom.xml
/build/

# Gradle
/.gradle
/build/
/out/

# sbt
/target/
/project/target/
/logs/
/bin/
/.history/

# OS Specific Files #
.DS_Store
Thumbs.db

# Intellij Artifacts
*.